#contact{
  .contact_form{
    display: flex;
    flex-direction: column;

    input, textarea{
      margin: 1rem;
      padding: 0.5rem;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: black;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: black;
        opacity: 1;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: black;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: black;
        opacity: 1;
      }
      width: 90%;
      border: 1px solid black;
    }
  }
}
